.btn-box{
  margin-top: 1rem;

  .btn-register{
    @include font($font-poppin-regular, 0.8rem, $color-violet );
    @include btn ($color-white, none , 20px, 0.8rem);
    line-height: 20px;
    width: 160px;
    box-shadow: 1px 0 30px $color-violet;
    display: inline-block;
    text-align: center;
  }

}
  
